<%= form_for @advertise, :html => { :multipart => true } do |f|%>
  <% if @advertise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertise.errors.count, "error") %> prohibited this advertise from being saved:</h2>

      <ul>
      <% @advertise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.file_field :advertise_photo %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :starts %><br>
    <%= f.date_select :starts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
